<!-- Contains about info. needs to be updated -->
<div style= "padding-top:100px; padding-left:100px">
  <div class= "header"><h1>About</h1></div><br><br>
  <div id="container">
    <h3>Who are we?</h3>
    We are University of Washington students who started this project in the CSE 403 course, Spring 2014.
    <p></p>
    
    <table class ="table table-striped" style= "width:600px;">
      <thead>
        <tr>
  	  <th>Project Manager</th>
        </tr>
       <thead>
       <tbody>
         <tr> 
           <td>Karthik Palaniappan</td>
	   <td> karth295 (at) uw (dot) edu</td>
         </tr>
       <tbody>
       <thead>
        <tr>
  	  <th>Frontend Web Developers</th>
        </tr>
       </thead>
       <tbody>
         <tr> 
           <td>Tiffany Lin</td>
	   <td> lintiff  (at) uw (dot) edu</td>
         </tr>
         <tr> 
           <td>Tsz (Fung) Cheung</td>
	   <td>tfcheung (at) uw (dot) edu</td>
         </tr>
         <tr> 
           <td>Linsen Wu</td>
	   <td>linsenwu (at) uw (dot) edu</td>
         </tr>
       </tbody>
       <thead>
        <tr>
  	  <th>Backend RoR Developers</th>
        </tr>
       </thead>
       <tbody>
         <tr> 
           <td>Keith Yeung</td>
	   <td>kyeungk  (at) uw (dot) edu</td>
         </tr>
         <tr> 
           <td>Micaela Tolliver</td>
	   <td>mictol42 (at) uw (dot) edu</td>
         </tr>
         <tr> 
           <td>Panji Wisesa</td>
	   <td>panjiw   (at) uw (dot) edu</td>
         </tr>
       </tbody>
    </table>

  </div>
</div>
