<!-- Contains about info. needs to be updated -->
<div style= "padding-top:100px; padding-left:100px">
  <div class= "header"><h1>About</h1></div><br><br>
  <div class= "info"><h4><i>May contain more information than website currently displays. Will be updated as new features are added.</i></h4></div>
  <br>
  <div id="container">
    
  </div>
</div>