<!-- Contains about info. needs to be updated -->
<div style= "padding-top:100px; padding-left:100px">
  <div class= "header"><h1>About</h1></div><br><br>
  <div id="container">
    <h3>Who are we?</h3>
    We University of Washington students who started this project in the CSE 403 course, Spring 2014.
    <p></p>
    <b>Project Manager</b>
		<br>Karthik Palaniappan : karth295 (at) uw (dot) edu
     <p></p>
    <b>Frontend Web Developers</b>
		<br>Tiffany Lin :         lintiff  (at) uw (dot) edu
		<br>Tsz (Fung) Cheung :   tfcheung (at) uw (dot) edu
		<br>Linsen Wu :           linsenwu (at) uw (dot) edu
    <p></p>          	
    <b>Backend RoR Developers</b>
		<br>Keith Yeung :         kyeungk  (at) uw (dot) edu
		<br>Micaela Tolliver :    mictol42 (at) uw (dot) edu
		<br>Panji Wisesa :        panjiw   (at) uw (dot) edu
  </div>
</div>