<div class="container">
  <div class="header-row">
    <div class= "bills-header">
      <div class="col-md-11">
        <h1>My Bills</h1>
      </div>
      <div class="col-md-1">
        <button class="btn btn-default" ng-click="openBillHelpModal($event)">
          <span class="glyphicon glyphicon-question-sign"></span>
        </button>
          <div id="billHelpModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Help Guide</h3>
                </div>
                <div class="modal-body help-body">
                  <div class="instruction-row">
                    <div id="billHelp1">
                      <h4>Navigating Through Bills</h4>
                        <div class="help-info">
                          Click on the "Bills Summary" tab to see a list of people you owe money to, and owe you money. From here, you can pay bills.<br>
                          Click on the "Bills History" tab to see a list of bills you've created and paid for.<br>
                        </div>
                        <hr>
                        <div class="help-image"><%= image_tag "bills-page1.png" %></div>
                        <hr>
                        <div class="backNext">
                          <div class="col-md-10"></div>
                          <div class="col-md-2">
                            <button ng-click="billNext(1)" class="btn btn-default">Next</button>
                          </div>
                        </div>
                    </div>
                    <div style="display:none" id="billHelp2">
                      <h4>Adding a Bill</h4>
                        <div class="help-info">
                          Click on "Add Bill" to keep track of money others owe to you.<br>
                          You can choose to split a bill evenly, or customize each member's debt.
                          <br><i>Split Evenly</i> automatically divides costs amongst members that have been checkmarked.
                          <br><i>Customize</i> costs for members you've checkmarked.
                        </div>
                        <hr>
                        <div class="help-image"><%= image_tag "bills-page2.png" %></div>
                        <hr>
                        <div class="backNext">
                          <div class="col-md-2">
                            <button ng-click="billBack(2)" class="btn btn-default">Back</button>
                          </div>
                          <div class="col-md-8"></div>
                          <div class="col-md-2">
                            <button ng-click="billNext(2)" class="btn btn-default">Next</button>
                          </div>
                        </div>
                    </div>
                    <div style="display:none" id="billHelp3">
                      <h4>Inside the "Bills Summary" Tab</h4>
                        <div class="help-info">
                          Click on a panel to see a list of bills between you and that person.<br>You can <b>select</b> bills you've paid to them, or <b>confirm</b> bills they have paid you. <br><br>Immediate updates of the net total will appear for your convenience.
                        </div>
                        <hr>
                        <div class="help-image"><%= image_tag "bills-page3.png" %></div>
                        <hr>
                        <div class="backNext">
                          <div class="col-md-2">
                            <button ng-click="billBack(3)" class="btn btn-default">Back</button>
                          </div>
                          <div class="col-md-8"></div>
                          <div class="col-md-2">
                            <button ng-click="billNext(3)" class="btn btn-default">Next</button>
                          </div>
                        </div>
                    </div>
                    <div style="display:none" id="billHelp4">
                      <h4>Inside the "Bill History" Tab</h4>
                        <div class="help-info">
                          Click on a panel to see a history of bills you've paid to other members, and bills paid to you.
                        </div>
                        <hr>
                        <div class="help-image"><%= image_tag "bills-page4.png" %></div>
                        <hr>
                        <div class="backNext">
                          <div class="col-md-2">
                            <button ng-click="billBack(4)" class="btn btn-default">Back</button>
                          </div>
                          <div class="col-md-8"></div>
                          <div class="col-md-2">
                            <button class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- Start Add Bill Button -->
  <div class="bills-addbutton">
    <a class="btn btn-danger" id="openBtn" ng-click="closePop()">Add Bill</a>
    <div id="billModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Add Bill</h3>
            <h5><i>Bills should be created by member who paid entire bill</i></h5>
          </div>
          <div class="modal-body tasks-add-body">
            <div class="col-md-6">
              <h5>* Name:</h5><input type="text" ng-model="newBillTitle" maxlength="20" />
              <h5>Description:</h5>
              <textarea cols="30" rows="4" ng-model="newBillDescription"></textarea>
              <h5>* Total Cost:</h5><input ng-model="newBillTotal" ng-pattern="/^\d*(\.\d\d?)?$/" ng-change="splitEvenly(false, 1, false)" 
                                      type="number" placeholder="0.00" min="0.01" step="0.01" />
              <h5>Due Date:</h5><input type="text" id="bill_datepicker"/>
            </div>
            <div class="col-md-5">
              <h5>* Group</h5>
              <select ng-model="newBillGroup" ng-options="grp.name for (id, grp) in groupsList | accepted | removeSelfGroup">
                <option value="">-- choose group --</option>
              </select>
              <br>
              <br>
              <div ng-show="currentMembers.length > 1">
                <button class="btn btn-xs" ng-click="selectAll(currentMembers); splitEvenly(false, 1, true)">select all</button>
              </div>
              <div class="bill-members">
                <div ng-repeat="mem in currentMembers | orderUsers" style="height:2.2em;">
                  <input class="bill-members-check1" type="checkbox" ng-model="mem.chked" ng-click="mem.amount = '0.00'; splitEvenly(mem, 1, false)" style="float:left;" />
                  <span style="float:left;">{{mem.username}}</span>
                  <input ng-show="mem.chked==true" ng-model="mem.amount" ng-pattern="/^\d*(\.\d\d?)?$/" class="bill-total"
                  type="text" placeholder="0.00" style="float:right;"/>
                </div>
                <div ng-repeat="mem in currentPending | orderUsers" style="height:2.2em;">
                  <input disabled="disabled" class="bill-members-check1" type="checkbox" ng-model="mem.chked" ng-click="mem.amount = '0.00'; splitEvenly(mem, 1, false)" style="float:left;" />
                  <span style="float:left; color: gray">{{mem.username}} (invited)</span>
                </div>
                <!-- <select multiple ng-model="newBillMembers" style="width: 10em;" 
                ng-options="mem.username for mem in currentMembers"></select> -->
                <label>
                  <input type="checkbox" class="large" id="bill-split-evenly-checkbox1" ng-click="splitEvenly(false, 1, false)"/>
                  <span>Split Evenly</span>
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn" ng-click="createBill($event)">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End Add Bill Button -->
  <!-- Add Edit Bill Button -->
  <div class="bills-editbutton">
    <div id="billEditModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Edit Bill</h3>
          </div>
          <div class="modal-body tasks-add-body">
            <div class="col-md-6">
              <h5>* Name:</h5><input type="text" ng-model="editBillTitle" maxlength="20" />
              <h5>Description:</h5>
              <textarea cols="30" rows="4" ng-model="editBillDescription"></textarea>
              <h5>* Total Cost:</h5><input ng-model="editBillTotal" ng-pattern="/^\d*(\.\d\d?)?$/" ng-change="splitEvenly(false, 2, false)" type="number" placeholder="0.00" min="0.01" step="0.01" />
              <h5>Due Date:</h5><input type="text" id="bill_edit_datepicker"/>
            </div>
            <div class="col-md-5">
              <h5>Group</h5>
              <!-- <select ng-model="editBillGroup" ng-options="grp.name for (id, grp) in groupsList">
                <option value="">-- choose group --</option>
              </select> -->
              <span>{{editBillGroup.name}}</span>
              <br>
              <br>
              <div ng-show="currentEditMembers.length > 1">
                <button class="btn btn-xs" ng-click="selectAll(currentEditMembers); splitEvenly(false, 2, true)">select all</button>
              </div>
              <div class="bill-members">
                <div ng-repeat="mem in currentEditMembers | orderUsers" style="height:2.2em;">
                  <input class="bill-members-check2" type="checkbox" ng-model="mem.chked" ng-click="mem.amount = 0.00; splitEvenly(mem, 2, false)" style="float:left;" />
                  <span style="float:left;">{{mem.username}}</span>
                  <input ng-show="mem.chked==true" ng-model="mem.amount" ng-pattern="/^\d*(\.\d\d?)?$/" class="bill-total"
                  type="text" placeholder="0.00" style="float:right;"/>
                  <div style="clear: both;"></div>
                </div>
                <div ng-repeat="mem in currentEditPending | orderUsers" style="height:2.2em;">
                  <input disabled="disabled" class="bill-members-check2" type="checkbox" ng-model="mem.chked" ng-click="mem.amount = 0.00; splitEvenly(mem, 2, false)" style="float:left;" />
                  <span style="float:left; color: gray">{{mem.username}} (invited)</span>
                  <div style="clear: both;"></div>
                </div>
                <label>
                  <input type="checkbox" class="large" id="bill-split-evenly-checkbox2" ng-click="splitEvenly(false, 2, false)"/>
                  <span>Split Evenly</span>
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn" ng-click="editBill($event)">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End Edit Bill Button -->
  <!-- Start Bills Display -->
  <div class="tabbable">
    <ul class="nav nav-tabs">
<!--       <li class="active">
        <a href="#billsOwe" data-toggle="tab" ng-click="closePop()">Bills You Owe</a>
      </li>
      <li>
        <a href="#billsDebt" data-toggle="tab" ng-click="closePop()">Bills Owed To You</a>
      </li> -->
      <li class="active">
        <a href="#billsSummary" data-toggle="tab" ng-click="closePop()">Bill Summary</a>
      </li>
      <li>
        <a href="#billsHistory" data-toggle="tab" ng-click="closePop(); openHistory()">Bill History</a>
      </li>
    </ul>
      <div class="tab-content">
<!--         <div class="tab-pane active" id="billsOwe">
          <h3>Bills You Owe</h3>
            <div class="bill-scroll">
              <div ng-repeat="entry in billSummary.youOwe">
                <div class="bill-all">
                  <div class="bill" ng-click="openPop($event, entry.person_username, 1)">
                    <h4 class="bill-member bill-member-long">{{entry.person_username}}</h4>
                    <h4 class="bill-amount">${{entry.total}}</h4>
                  </div>
                  <div id="{{entry.person_username}}1" class="bill-pop">
                    <div class="bills-to-pay">
                      <div ng-repeat="b in entry.billsArray">
                        <label for="{{b.id}}">
                          <div style="">
                            <div class="bills-selected" data-html="true" data-trigger="hover" data-toggle="popover" data-title="Due: {{b.dateDue | date:'shortDate'}}" data-content="<p>{{b.description}}</p>" data-placement="right">
                              <input class="bills-checkbox" id="{{b.id}}" type="checkbox" ng-click="updateTotal(entry.person_username)" value="{{b.amountForEntry[entry.person_username]}} {{b.id}}">
                              <h4 class="bill-member">{{b.title}}</h4>
                              <h4 class="bill-amount">{{b.amountForEntry[entry.person_username] | currency}} </h4>
                            </div>
                          </div>
                        </label>
                      </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="pay(entry.person_username)">Paid</button>
                    <h4 class="bill-pop-total">Total: $0.00</h4>
                  </div>

                </div>
              </div>
            </div>
        </div> -->
<!--         <div class="tab-pane" id="billsDebt">
          <h3>Bills Owed To You</h3>
            <div class="bill-scroll">
              <div ng-repeat="entry in billSummary.oweYou">
                <div class="bill-all">
                  <div class="bill" ng-click="openPop($event, entry.person_username, 2)" >
                    <h4 class="bill-member bill-member-long">{{entry.person_username}}</h4>
                    <h4 class="bill-amount">${{entry.total}}</h4>
                  </div>
                  <div id="{{entry.person_username}}2" class="bill-pop">
                    <div class="bills-to-pay-you">
                      <div ng-repeat="b in entry.billsArray">
                        <div class="bills-selected" data-html="true" data-trigger="hover" data-toggle="popover" data-title="Due: {{b.dateDue | date:'shortDate'}}" data-content="<p>{{b.description}}</p>" data-placement="right">
                          <h4 class="bill-member">
                            <button type="button" ng-click="showEditBill($event,b.id)" class="btn btn-default btn-xs">
                              <span class="glyphicon glyphicon-pencil"></span>
                            </button> {{b.title}}
                          </h4>
                          <h4 class="bill-amount">{{b.amountForEntry[entry.person_username] | currency}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div> -->
        <div class="tab-pane active" id="billsSummary" >
          <h3>Bill Summary</h3>
            <div ng-repeat="entry in combinedBills">
              <div ng-hide="entry.oweYou == '0' && entry.youOwe == '0'">
                <div ng-click="openPop($event, entry.username, 4)" class="tasks-panelbutton bill-panelbutton" >
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <div class="bill-panel">
                          <h4 class="panel-descr">{{entry.username}}</h4>
                        </div>
                      </div>
                      <div class="panel-body panel-info">
                        <h5 class="panel-owesYou">owes you: ${{entry.oweYou}}</h5>
                        <h5 class="panel-youOwe">you owe: ${{entry.youOwe}}</h5>
                      </div>
                    </div>
                </div>
                <div id="{{entry.username}}4" class="bill-pop">
                  <div class="bills-to-pay">
                    <!-- bills you owe -->
                    <div class="UO-title">
                      <h4>Bills You Owe:</h4>
                    </div>
                    <div ng-repeat="UO in entry.youOweBills">
                      <label for="{{UO.id}}">
                        <div style="">
                          <div class="bills-selected-owe" data-html="true" data-trigger="hover" data-toggle="popover" data-title="Due: {{UO.dateDue | date:'shortDate'}}" data-content="<p>{{UO.description}}</p>" data-placement="right">
                            <input class="bills-checkbox" id="UO" type="checkbox" ng-click="updateTotalComb(entry.username)" value="{{UO.amountForEntry[entry.username]}} {{UO.id}} {{currentUser.id}}">
                            <h4 class="bill-member">{{UO.title}}</h4>
                            <h4 class="bill-amount">{{UO.amountForEntry[entry.username] | currency}} </h4>
                          </div>
                        </div>
                      </label>
                    </div>
                    <!-- bills owe you -->
                    <div class="OU-title">
                      <h4>Bills Owed To You:</h4>
                    </div>
                    <div ng-repeat="OU in entry.oweYouBills">
                      <label for="{{OU.id}}">
                        <div style="">
                          <div class="bills-selected-debt" data-html="true" data-trigger="hover" data-toggle="popover" data-title="Due: {{OU.dateDue | date:'shortDate'}}" data-content="<p>{{OU.description}}</p>" data-placement="right">
                            <input class="bills-checkbox" id="OU" type="checkbox" ng-click="updateTotalComb(entry.username)" value="{{OU.amountForEntry[entry.username]}} {{OU.id}} {{entry.person_id}}">
                            <button type="button" ng-click="showEditBill($event,OU.id)" class="btn btn-default btn-xs bills-editBtn">
                              <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <h4 class="bill-member">{{OU.title}}</h4>
                            <h4 class="bill-amount">-{{OU.amountForEntry[entry.username] | currency}} </h4>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="bill-buttons">
                    <button type="button" class="btn btn-success" ng-click="pay(entry.username)">Paid</button>
                    <h4 class="bill-pop-total-comb">Net Total: $0</h4>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="billsHistory">
          <h3>Bill History</h3>
              <div class="col-md-5">
                <h4>Bills you have paid</h4>
                <div class="bill-scroll-skinny">
                  <div ng-repeat="entry in combinedBills">
                    <div ng-repeat="UO in entry.youOweHistory">
                      <label for="{{UO.id}}">
                        <div style="">
                          <div class="bill-history" data-html="true" data-trigger="hover" data-toggle="popover" data-title="Due: {{UO.dateDue | date:'shortDate'}}" data-content="<p>{{UO.description}}</p>" data-placement="right">
                              <div class="panel panel-danger">
                                <div class="panel-heading">
                                  <div class="bill-panel">
                                    <h4 class="panel-descr">{{UO.title}}</h4>
                                    <h4 class="panel-date">{{UO.amountForEntry[entry.username] | currency}} </h4>
                                  </div>
                                </div>
                                <div class="panel-body panel-info">
                                  <h5 class="panel-groupname">Paid to: {{entry.username}}</h5>
                                </div>
                              </div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <h4>Bills paid to you</h4>
                <div class="bill-scroll-skinny">
                  <div ng-repeat="entry in combinedBills">
                  <div ng-repeat="OU in entry.oweYouHistory">
                    <label for="{{OU.id}}">
                      <div style="">
                        <div class="bill-history" data-html="true" data-trigger="hover" data-toggle="popover" data-title="Due: {{OU.dateDue | date:'shortDate'}}" data-content="<p>{{OU.description}}</p>" data-placement="right">
<!--                           <button type="button" ng-click="showEditBill($event,OU.id)" class="btn btn-default btn-xs bills-editBtn">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button> -->

                            <div class="panel panel-success">
                              <div class="panel-heading">
                                <div class="bill-panel">
                                  <h4 class="panel-descr">{{OU.title}}</h4>
                                  <h4 class="panel-date">{{OU.amountForEntry[entry.username] | currency}} </h4>
                                </div>
                              </div>
                              <div class="panel-body panel-info">
                                <h5 class="panel-groupname">Paid by: {{entry.username}}</h5>
                              </div>
                            </div>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                </div>
              </div> 
            </div>
      </div>
    </div> <!-- End Bills Display -->
</div>
