<div class="container">
    <div class="header-row">
        <div class= "bills-header">
            <h1>My Bills</h1>
        </div>
    </div>
    <div class="bills-addbutton">
            <a class="btn btn-default" id="openBtn">Add Bill</a>

                <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                      <h3>Create Bill</h3>
                  </div>
                  <div class="modal-body tasks-add-body">
                        <div class="col-md-6">
                        <h5>Name:</h5><input type="text" />
                            <h5>Description:</h5>
                              <textarea cols="30" rows="4"></textarea>
                            <h5>Total Cost:</h5><input type="text" />
                            <h5>Due Date:</h5>
                        </div>
                        <div class="col-md-5">
                            <h5>Group:</h5><input type="text" />
                            <br>
                            <div class="bill-members">
                                <textarea cols="30" rows="7"></textarea>
                                <input type="checkbox" class="large" data-label="Split Evenly"/>
                                <span>Split Evenly</span>
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">Cancel</button>
                        <button class="btn" data-dismiss="modal" ng-click="createBill()">Save</button>
                  </div>
                  </div>
                </div>
                </div>
    </div>
<!--     <div class="bill-body {{activeBillTab}}" ng-switch on="activeBillTab">
        <div class="you-owe-tab" ng-click="activeBillTab='bill_selected_you_owe'">
            <h4>You Owe</h4>
        </div>
        <div class="owe-you-tab" ng-click="activeBillTab='bill_selected_owe_you'">
            <h4>Owe You</h4>
        </div>
        <div class="bill-summary">
            <h2>Bill Summary</h2>
            <div class="you-owe" ng-switch-when="bill_selected_you_owe">
                <h3>Bills you owe</h3>
                <div class="bill-scroll">
                    <div class="bill">
                        <h4 class="bill-member">Member 1</h4>
                        <h4 class="bill-amount">$100</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div>
                    <div class="bill">
                        <h4 class="bill-member">Member 2</h4>
                        <h4 class="bill-amount">$200</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div><div class="bill">
                        <h4 class="bill-member">Member 3</h4>
                        <h4 class="bill-amount">$300</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div><div class="bill">
                        <h4 class="bill-member">Member 4</h4>
                        <h4 class="bill-amount">$400</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div>
                </div>
            </div>
            <div class="owe-you" ng-switch-when="bill_selected_owe_you">
                <h3>Bills owed to you</h3>
                <div class="bill-scroll">
                    <div class="bill">
                        <h4 class="bill-member">Member 7</h4>
                        <h4 class="bill-amount">$700</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div>
                    <div class="bill">
                        <h4 class="bill-member">Member 8</h4>
                        <h4 class="bill-amount">$80</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


                    <div class="tabbable">
                          <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab3" data-toggle="tab">You Owe</a></li>
                            <li><a href="#tab4" data-toggle="tab">Owe You</a></li>
                          </ul>
                          <div class="tab-content">
                            <div class="tab-pane active" id="tab3">
                                <h3>Bills you owe</h3>
                                    <div class="bill-scroll">
                                        <div class="bill">
                                            <h4 class="bill-member">Member 1</h4>
                                            <h4 class="bill-amount">$100</h4>
                                            <button type="button" class="btn-you-owe btn btn-default" data-toggle="popover" data-container="body" data-toggle="popover" data-placement="right" data-content='<div class="bills-selected">
                                        <input type="checkbox">
                                        <h4 class="bill-member">Bought Lunch</h4>
                                        <h4 class="bill-amount">$12</h4>
                                        </div>
                                        <div class="bills-selected">
                                        <input type="checkbox">
                                        <h4 class="bill-member">Paid Electric Bill</h4>
                                        <h4 class="bill-amount">$68</h4>
                                        </div>
                                        <div class="bills-selected">
                                        <input type="checkbox">
                                        <h4 class="bill-member">Paid Internet</h4>
                                        <h4 class="bill-amount">$44</h4>
                                        </div><button type="button" class="btn btn-default">Paid</button>'
                                    >Select Bills</button>
                                        </div>
                                        <div class="bill">
                                            <h4 class="bill-member">Member 2</h4>
                                            <h4 class="bill-amount">$200</h4>
                                            <button type="button" class="btn-you-owe btn btn-default" data-toggle="popover" data-container="body" data-toggle="popover" data-placement="right" data-content='<div class="bills-selected">
                                                <input type="checkbox">
                                        <h4 class="bill-member">Bought Lunch</h4>
                                        <h4 class="bill-amount">$12</h4>
                                        </div>
                                        <div class="bills-selected">
                                            <input type="checkbox">
                                        <h4 class="bill-member">Paid Electric Bill</h4>
                                        <h4 class="bill-amount">$68</h4>
                                        </div>
                                        <div class="bills-selected">
                                            <input type="checkbox">
                                        <h4 class="bill-member">Paid Internet</h4>
                                        <h4 class="bill-amount">$44</h4>
                                    </div><button type="button" class="btn btn-default">Paid</button>'
                                    >Select Bills</button>
                                        </div><div class="bill">
                                            <h4 class="bill-member">Member 3</h4>
                                            <h4 class="bill-amount">$300</h4>
                                            <button type="button" class="btn-you-owe btn btn-default" data-toggle="popover" data-container="body" data-toggle="popover" data-placement="right" data-content='<div class="bills-selected">
                                                <input type="checkbox">
                                        <h4 class="bill-member">Bought Lunch</h4>
                                        <h4 class="bill-amount">$12</h4>
                                        </div>
                                        <div class="bills-selected">
                                            <input type="checkbox">
                                        <h4 class="bill-member">Paid Electric Bill</h4>
                                        <h4 class="bill-amount">$68</h4>
                                        </div>
                                        <div class="bills-selected">
                                            <input type="checkbox">
                                        <h4 class="bill-member">Paid Internet</h4>
                                        <h4 class="bill-amount">$44</h4>
                                    </div><button type="button" class="btn btn-default">Paid</button>'
                                    >Select Bills</button>
                                        </div><div class="bill">
                                            <h4 class="bill-member">Member 4</h4>
                                            <h4 class="bill-amount">$400</h4>
                                            <button type="button" class="btn-you-owe btn btn-default" data-toggle="popover" data-container="body" data-toggle="popover" data-placement="right" data-content='<div class="bills-selected">
                                                <input type="checkbox">
                                        <h4 class="bill-member">Bought Lunch</h4>
                                        <h4 class="bill-amount">$12</h4>
                                        </div>
                                        <div class="bills-selected">
                                            <input type="checkbox">
                                        <h4 class="bill-member">Paid Electric Bill</h4>
                                        <h4 class="bill-amount">$68</h4>
                                        </div>
                                        <div class="bills-selected">
                                            <input type="checkbox">
                                        <h4 class="bill-member">Paid Internet</h4>
                                        <h4 class="bill-amount">$44</h4>
                                    </div><button type="button" class="btn btn-default">Paid</button>'
                                    >Select Bills</button>
                                        </div>
                                    </div>
                            </div>
                            <div class="tab-pane" id="tab4">
                              <h3>Bills owed to you</h3>
                                <div class="bill-scroll">
                                    <div class="bill">
                                        <h4 class="bill-member">Member 7</h4>
                                        <h4 class="bill-amount">$700</h4>
                                        <button type="button" class="view-bill btn btn-default" data-toggle="popover" data-container="body" data-toggle="popover" data-placement="right" data-content='<div class="bills-selected">
                                        <h4 class="bill-member">Bought Lunch</h4>
                                        <h4 class="bill-amount">$12</h4>
                                        </div>
                                        <div class="bills-selected">
                                        <h4 class="bill-member">Paid Electric Bill</h4>
                                        <h4 class="bill-amount">$68</h4>
                                        </div>
                                        <div class="bills-selected">
                                        <h4 class="bill-member">Paid Internet</h4>
                                        <h4 class="bill-amount">$44</h4>
                                    </div>'>View Bill</button>
                                    </div>
                                    <div class="bill">
                                        <h4 class="bill-member">Member 8</h4>
                                        <h4 class="bill-amount">$80</h4>
                                        <button type="button" class="view-bill btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content='<div class="bills-selected">
                                        <h4 class="bill-member">Bought Milk</h4>
                                        <h4 class="bill-amount">$18</h4>
                                        </div>
                                        <div class="bills-selected">
                                        <h4 class="bill-member">Bought Dinner</h4>
                                        <h4 class="bill-amount">$60</h4>
                                    </div>'>View Bill</button>
                                    </div>
                                </div>
                            </div>
                            
                          </div>
                        </div>
</div>