<!-- Contains contact info. needs to be updated -->
<div style= "padding-top:100px; padding-left:100px">
  <div class= "header"><h1>Contact</h1></div><br><br>
  <div class= "info" style="width:80%">
  	<h3>Questions and Comments</h3>
  	<p>Feel free to email us at <i>kronoschronus (at) googlegroups.com</i>!<p>
  	<br>


  </div>
  <br>
  <div id="container">
    
  </div>
</div>