<!-- Contains contact info. needs to be updated -->
<div style= "padding-top:100px; padding-left:100px">
  <div class= "header"><h1>Contact</h1></div><br><br>
  <div class= "info">
  	<h3>Questions and Comments</h3>
  	<p>Feel free to email us at <i>kronoschronus (at) googlegroups.com</i>!<p>
  	<br>
  	<h3>Report a Bug</h3>
 	<p>We have a public list of bugs/issues, both open and closed, at:  <br><br>
        <a href="https://github.com/panjiw/Team-Player/issues">https://github.com/panjiw/Team-Player/issues</a>
        </br><br>
        If you have a bug to report, you can either use the above link and post an issue with a github account
        or you can email us. <br>
        Remember to: 
        <ol>
        <li>Tell us what browser you are using, and how long you've had a TeamPlayer account.</li>
        <li>Give us some information about the bug. It must be clear, such as "clicking on home takes me <i>this page</i> instead of <i>that page</i>," not "the home button doesn't work." List the steps we need to reporduce this bug. What did you do to reach this problem? What were you tryingto do?</li>
        </ol>
        </p>

  </div>
  <br>
  <div id="container">
    
  </div>
</div>