<!-- Contains User Manual questions and answers. More 
    questions will be added to this as more features become implemented. -->
<div style= "padding-top:100px; padding-left:100px">
  <div class= "header"><h1>Help</h1></div><br>
  <div id="container">
    <h3>User Documentation</h3>
    <a href="http://keithyeung.com/teamplayer/usersdoc.html">Click here.</a>
    <p></p>
    <h3>User Manual</h3>
    <div style="width:1000px;height:300px; overflow:auto;padding:20px;">
      <ul id="expList">
        <!-- ********************** Accounts Questions *************** -->
        <li><u><b>Accounts</b></u>
          <ul>
            <li><b>How do I get an account?</b>
              <ol>
                <li> Go to the TeamPlayer website.</li>
                <li> Register with your information.</li>
                <li> You are automatically created into a group with just yourself!</li>
              </ol>
            </li>
            <li><b>How can I invite my friends?</b></li>
            <ol>
              <li> Click on the "Groups" tab.</li>
              <li> Navigate to an existing group or create a new group.</li>
              <li> Click "Add Member". If they have an account, you can search them with by name or username. If not, you can invite them by email.</li>
            </ol>
          </ul>
        </li>
        <br>
        <!-- ********************** Tasks Questions *************** -->
        <li><u><b>Tasks</b></u>
          <ul>
            <li><b>How do I add a task?</b>
              <ol>
                <li> Click on "Add Task" either from Home or from the Tasks tab.</li>
                <li> Input name, description...etc.</li>
                <li> Select the group it will be for, as well as the people who will be a part of it</li>
                <li> Cycle and/or set a deadline for the task.</li>
              </ol>
            </li>
            <li><b>What is a cycle?</b></li>
            <ol>
              <li> Add multiiple people from a group to a task, so that each of them have a turn at a task.</li>
              <li> During task creation, you can control the order of the cycle.</li>
            </ol>
            <li><b>How do I edit a task?</b></li>
            <ol>
              <li> Click on the task, a popup should appear</li>
              <li> Click "Edit".</li>
            </ol>
            <li><b>How do I mark a task as done?</b></li>
            <ol>
              <li> Click on a task, a popup should appear.</li>
              <li> Click "Finished".</li>
            </ol>
          </ul>
        </li>
        <br>
        <!-- ********************** Bills Questions *************** -->
        <li><u><b>Bills</b></u>
          <ul>
            <li><b>How do I add a bill?</b>
              <ol>
                <li> Click on "Add Bill" either from Home or from the Bills tab.</li>
                <li> Input name, description, total, and members who are a part of the bill.</li>
                <li> Members names will automatically appear. Click to set their totals.</li>
              </ol>
            </li>
            <li><b>How can I edit a bill?</b></li>
            <ol>
              <li> Click on the bill, a popup should appear.</li>
              <li> Click "Edit".</li>
            </ol>
            <li><b>How can I pay a bill?</b></li>
            <ol>
              <li> Click on the Bills tab and find the member you want to pay back.</li>
              <li> Click on the bill, and a popup should appear.</li>
              <li> Select or deselect bills you want to pay.</li>
              <li> Click paid, and pay your group member back!</li>
            </ol>
          </ul>
        </li>
        <br>
        <!-- ********************** Groups Questions *************** -->
        <li><u><b>Groups</b></u>
          <ul>
            <li><b>How do I add a group?</b>
              <ol>
                <li> Click on the groups tab.</li>
                <li> Input name, description, dates, and invite members.</li>
              </ol>
            </li>
            <li><b>Can I delete a group?</b></li>
            <ol>
              <li> You may not delete a group buy you may remove yourself from it.</li>
              <li> If all members of a group leave, the group will be deleted.</li>
            </ol>
            <li><b>How do I remove myself from a group?</b></li>
            <ol>
              <li> Select the group you would like to leave.</li>
              <li> Click the "Leave Group" button in the group description.</li>
            </ol>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>