<!-- Contains User Manual questions and answers. More 
    questions will be added to this as more features become implemented. -->
<div style= "padding-top:100px; padding-left:100px">
  <div class= "header"><h1>Help</h1></div><br>
    <div class= "info" style="width:80%">
    Find more information about TeamPlayer in our 
    <a href="http://keithyeung.com/teamplayer/usersdoc.html">user documentations</a>.

  </div>
</div>