<!-- Contains User Manual questions and answers. More 
    questions will be added to this as more features become implemented. -->
<div style= "padding-top:100px; padding-left:100px">
  <div class= "header"><h1>Help</h1></div><br>
    <div class= "info" style="width:80%">
    See our <a href="/usersdoc.html">user documentations</a> for more information about TeamPlayer.

  </div>
</div>