<div style= "padding-top:100px; padding-left:100px">
  <div class="header-row">
    <h1>{{currentUser.username}}</h1>
  </div>
  <div class="settings-body" style="margin-top:10px; margin-left:50px;">
    <div class="col-md-2 settings-options" style="border:1px solid gray; padding:10px; margin:10px; text-align:center">
      <button class="btn btn-default settings-btn" value="changeUsername">Change Username</button>
      <button class="btn btn-default settings-btn" value="changePassword">Change Password</button>
      <button class="btn btn-default settings-btn" value="changeEmail">Change Email</button>
      <button class="btn btn-default settings-btn" value="changeName">Change Name</button>
    </div>
    <div class="col-md-8 settings-form" style="border:1px solid gray; padding:10px; margin:10px; text-align:center">
      <div id="changeUsername" class="settings-section" style="display:inline">
        <h4>Change Username</h4>
        <input type="text" id="username-username" class="form-control input-md" placeholder="New Username">
        <input type="password" id="username-password" class="form-control input-md" placeholder="Password">
        <button class="btn btn-success" ng-click="changeUsername()">Submit</button>
      </div>
      <div id="changePassword" class="settings-section">
        <h4>Change Password</h4>
        <input type="password" id="password-old-password" class="form-control input-md" placeholder="Previous Password">
        <input type="password" id="password-new-password" class="form-control input-md" placeholder="New Password">
        <input type="password" id="password-new-password-confirm" class="form-control input-md" placeholder="Confirm New Password">
        <button class="btn btn-success" ng-click="changePassword()">Submit</button>
      </div>
      <div id="changeEmail" class="settings-section">
         <h4>Change Email</h4>
         <input type="text" id="email-email" class="form-control input-md" placeholder="New Email">
         <input type="password" id="email-password" class="form-control input-md" placeholder="Password">
         <button class="btn btn-success" ng-click="changeEmail()">Submit</button>
      </div>
      <div id="changeName" class="settings-section">
         <h4>Change Name</h4>
         <input type="text" id="name-first" class="form-control input-md" placeholder="New First Name">
         <input type="text" id="name-last" class="form-control input-md" placeholder="New Last Name">
         <input type="password" id="name-password" class="form-control input-md" placeholder="Password">
         <button class="btn btn-success" ng-click="changeName()">Submit</button>
      </div>
    </div>
  </div>
</div>

<style>
  .settings-btn {
    width: 140px;
    margin-bottom: 5px;
  }
  .settings-section {
    display: none;
  }
</style>