<div class="container">
      <div class="header-row">
          <div class= "tasks-header">
            <h1>My Tasks</h1>
          </div>
      </div>
<!--   *** Add Task Button    ***-->
          <div class="tasks-addbutton">
            <a class="btn btn-default" id="openBtn" ng-click="openModal($event)">Add Task</a>
                <div id="myModal" class="modal fade task-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                      <h3>Create Task</h3>
                    </div>
                    <div class="modal-body tasks-add-body">
                        <div class="col-md-5">
                        <h5>Name:</h5><input type="text" />
                            <h5>Description:</h5>
                              <textarea cols="30" rows="4"></textarea>
                            <h5>Group:</h5><input type="text" />
                            <h5>Members:</h5>
                            <textarea cols="30" rows="4"></textarea>
                        </div>
                        <div class="col-md-6">
                          <div class="tabbable">
                          <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Members</a></li>
                            <li><a href="#tab2" data-toggle="tab">Deadline</a></li>
                          </ul>
                          <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                              <div class= "tasks-selectMember">
                                <input type="checkbox" class="large" data-label="Cycle"/>
                                <span>Cyclic Task</span>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                              <input type="checkbox" class="large" data-label="Deadline"/>
                              <span>No Deadline</span>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">Cancel</button>
                        <button class="btn" data-dismiss="modal">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <!--   ***********scrollbox with task content begin ***********  -->
      <div class="tasks-scroll">
          <div style="width:600px;height:400px;line-height:3em;
                      overflow:auto;padding:20px;">

          <a href="#" class="btn btn-large btn-danger" data-toggle="popover" title="" data-placement="bottom" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="Popover Title">Click to see my popover.</a>


            <div class="panel panel-warning" id="#task1">
              <div class="panel-heading">
                <div class="task-panel">
                    <h4 class="panel-descr">Clean Your Room</h4>
                    <h4 class="panel-date">5/1/2014</h4>
                </div>
              </div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="task-panel">
                    <h4 class="panel-descr">Take Out Trash</h4>
                    <h4 class="panel-date">5/1/2014</h4>
                </div>
              </div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="task-panel">
                    <h4 class="panel-descr">Clean Bathroom</h4>
                    <h4 class="panel-date">5/3/2014</h4>
                </div>
              </div>
            </div>
            <div class="panel panel-warning" >
              <div class="panel-heading">
                <div class="task-panel">
                    <h4 class="panel-descr">Buy Toilet Paper</h4>
                    <h4 class="panel-date">5/5/2014</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
      <!--   ***********scrollbox with task content end ***********  -->