<div class="container">
      <div class="header-row">
          <div class= "tasks-header">
            <div class="col-md-11">
              <h1>My Tasks</h1>
            </div>
            <div class="col-md-1">
              <button class="btn btn-default" id="taskBtn" ng-click="openTaskHelpModal($event)">
                <span class="glyphicon glyphicon-info-sign"></span>
              </button>
                <div id="taskHelpModal" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                          <h3>Help Guide</h3>
                      </div>
                    <div class="modal-body help-body">
                      <div class="instruction-row">
                        <div id="taskHelp1">
                          <h3>Page1</h3>
                            <div class="info"></div>
                            <div class="backNext">
                              <div class="col-md-10"></div>
                              <div class="col-md-2">
                                <button ng-click="taskNext(1)" class="btn btn-default">Next</button>
                              </div>
                            </div>
                        </div>
                        <div style="display:none" id="taskHelp2">
                          <h3>Page2</h3>
                            <div class="info"></div>
                            <div class="backNext">
                              <div class="col-md-2">
                                <button ng-click="taskBack(2)" class="btn btn-default">Back</button>
                              </div>
                              <div class="col-md-8"></div>
                              <div class="col-md-2">
                                <button ng-click="taskNext(2)" class="btn btn-default">Next</button>
                              </div>
                            </div>
                        </div>
                        <div style="display:none" id="taskHelp3">
                          <h3>Page3</h3>
                            <div class="info"></div>
                            <div class="backNext">
                              <div class="col-md-2">
                                <button ng-click="taskBack(3)" class="btn btn-default">Back</button>
                              </div>
                              <div class="col-md-8"></div>
                              <div class="col-md-2">
                                <button ng-click="taskNext(3)" class="btn btn-default">Next</button>
                              </div>
                            </div>
                        </div>
                        <div style="display:none"  id="taskHelp4">
                          <h3>Page4</h3>
                            <div class="info"></div>
                            <div class="backNext">
                              <div class="col-md-2">
                                <button ng-click="taskBack(4)" class="btn btn-default">Back</button>
                              </div>
                              <div class="col-md-10"></div>
                            </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
<!--   *** Add Task Button    ***-->
          <div class="tasks-addbutton">
            <a class="btn btn-default" id="openBtn" ng-click="openModal($event)">Add Task</a>
              <div id="taskModal" class="modal fade task-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Create Task</h3>
                    </div>
                  <div class="modal-body tasks-add-body">
                    <div class="col-md-5">
                      <h5>Name:</h5><input type="text" ng-model="newTaskTitle"/>
                      <h5>Description:</h5>
                      <textarea cols="30" rows="4" ng-model="newTaskDescription"></textarea>
                      <div class="tasks-duedate">
                        <input type="checkbox" class="large" data-label="Cycle" ng-model="newTaskCycle"/>
                        <span>Cyclic Task</span><br>
                        <input type="checkbox" class="large" data-label="Deadline" 
                        ng-model="noDue" ng-click="newTaskDateDue='';taskRepeat=false;"/>
                        <span>No Due Date</span>
                        <input type="text" id="task_datepicker"/>
                        <br>

                        <div ng-hide="noDue" id="repeat_options">
                          <input type="checkbox" class="large" ng-model="taskRepeat"/>
                          <span>Repeat Weekly</span><br>
                          <div ng-show="taskRepeat">
                            <input type="checkbox" ng-model="newTaskRepostArray[0]"/>
                            <span>Sun  </span>
                            <input type="checkbox" ng-model="newTaskRepostArray[1]"/>
                            <span>Mon  </span>
                            <input type="checkbox" ng-model="newTaskRepostArray[2]"/>
                            <span>Tue  </span>
                            <input type="checkbox" ng-model="newTaskRepostArray[3]"/>
                            <span>Wed  </span><br>
                            <input type="checkbox" ng-model="newTaskRepostArray[4]"/>
                            <span>Thur  </span>
                            <input type="checkbox" ng-model="newTaskRepostArray[5]"/>
                            <span>Fri  </span>
                            <input type="checkbox" ng-model="newTaskRepostArray[6]"/>
                            <span>Sat  </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                      <h5>Group:</h5>
                        <span class="nullable">
                          <select ng-model="newTaskGroup" ng-options="grp.name for (id, grp) in groupsList">
                            <option value="">-- choose group --</option>
                          </select>
                        </span>
                      <h5>Members</h5>
                        <div id="members">
                          <ul ui-sortable ng-model="currentMembers">
                            <li ng-repeat="mem in currentMembers | orderUsers">
                              <input type="checkbox" ng-model="mem.chked" style="float:left;"/>
                              <span style="float:left;">{{mem.username}}</span>
                              <div style="clear: both;"></div>
                            </li>
                          </ul>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">Cancel</button>
                    <button class="btn" ng-click="createTask($event)">Save</button>
                  </div>
                </div>
              </div>
            </div> <!-- id="taskModal" -->
          </div> <!-- tasks-addbutton -->

          <div class="tasks-editbutton">
            <div id="taskEditModal" class="modal fade task-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Edit Task</h3>
                    </div>
                  <div class="modal-body tasks-add-body">
                    <div class="col-md-5">
                      <h5>Name:</h5><input type="text" ng-model="editTaskTitle"/>
                      <h5>Description:</h5>
                      <textarea cols="30" rows="4" ng-model="editTaskDescription"></textarea>
                      <div class="tasks-duedate">
                        <input type="checkbox" class="large" data-label="Cycle" ng-model="editTaskCycle"/>
                        <span>Cyclic Task</span><br>
                        <input type="checkbox" class="large" data-label="Deadline" 
                        ng-model="editNoDue" ng-click="editTaskDateDue='';editTaskRepeat=false;"/>
                        <span>No Due Date</span>
                        <input type="text" id="task_edit_datepicker"/>
                        <br>

                        <div ng-hide="editNoDue" id="repeat_options">
                          <input type="checkbox" class="large" ng-model="editTaskRepeat"/>
                          <span>Repeat Weekly</span><br>
                          <div ng-show="editTaskRepeat">
                            <input type="checkbox" ng-model="editTaskRepostArray[0]"/>
                            <span>Sun  </span>
                            <input type="checkbox" ng-model="editTaskRepostArray[1]"/>
                            <span>Mon  </span>
                            <input type="checkbox" ng-model="editTaskRepostArray[2]"/>
                            <span>Tue  </span>
                            <input type="checkbox" ng-model="editTaskRepostArray[3]"/>
                            <span>Wed  </span><br>
                            <input type="checkbox" ng-model="editTaskRepostArray[4]"/>
                            <span>Thur  </span>
                            <input type="checkbox" ng-model="editTaskRepostArray[5]"/>
                            <span>Fri  </span>
                            <input type="checkbox" ng-model="editTaskRepostArray[6]"/>
                            <span>Sat  </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                      <h5>Group:</h5>
                        <!-- <span class="nullable">
                          <select ng-model="editTaskGroup" ng-options="grp.name for (id, grp) in editGroupsList">
                            <option value="">-- choose group --</option>
                          </select>
                        </span> -->
                      <span>{{editTaskGroup.name}}</span>
                      <h5>Members</h5>
                        <div id="members">
                          <ul ui-sortable ng-model="currentEditMembers">
                            <li ng-repeat="mem in currentEditMembers | orderBy:'mem.username'">
                              <input type="checkbox" ng-model="mem.chked" style="float:left;"/>
                              <span style="float:left;">{{mem.username}}</span>
                              <div style="clear: both;"></div>
                            </li>
                          </ul>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">Cancel</button>
                    <button class="btn" ng-click="editTask($event)">Edit</button>
                  </div>
                </div>
              </div>
            </div> <!-- id="taskEditModal" -->
          </div><!--taskedit button -->

      <div class="tasks-row">
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#myTasks" data-toggle="tab" ng-click="closePop()">My Tasks</a>
                </li>
                <li>
                  <a href="#taskHist" data-toggle="tab" ng-click="closePop()">Task History</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="myTasks">
                  <h3>My Tasks</h3>
                    <div class="tasks-scroll">
                      <div style="width:700px;height:400px;line-height:3em;overflow:auto;padding:20px;">
                        <div ng-repeat="task in myTasks | orderEvents">
                          <div ng-hide="task.done">
                            <button ng-click="openTaskPop($event, 'task' + task.taskID)" class="btn btn-default tasks-panelbutton" >
                              <div class="panel panel-warning">
                                <div class="panel-heading">
                                  <div class="task-panel">
                                    <h4 class="panel-descr">{{task.taskName}}</h4>
                                    <h4 class="panel-date">{{task.dueDate}}</h4>
                                  </div>
                                </div>
                                <div class="panel-body panel-info">
                                  <div class="panel-groupname">{{task.groupName}}</div>
                                  <div class="panel-groupmembers">{{task.members}}</div>
                                </div>
                              </div>
                            </button>
                            <div id="task{{task.taskID}}" class="tasks-pop">
                              <div class="selected-info">
                                <span>Task: {{task.taskName}}</span><br>
                                <span>Due Date: {{task.dueDate}}</span><br>
                                <span>Group: {{task.groupName}}</span><br>
                                <span>Participating Members: {{task.members}}</span><br>
                                <span>Done: {{task.done}}</span><br />
                                <div class="selected-buttons">
                                  <button class="btn btn-default" ng-click="openEditModal($event, task.taskID)">Edit</button>
                                  <button ng-click="finish(task.taskID)" class="btn btn-default">Completed</button>
                                </div>
                              </div>
                            </div>
                            <div id="task{{task.taskID}}_edit"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="tab-pane" id="taskHist">
                  <h3>Task History</h3>
                    <div class="tasks-scroll">
                      <div style="width:700px;height:400px;line-height:3em;overflow:auto;padding:20px;">
                        <div ng-repeat="task in myTasks | orderEvents">
                          <div ng-show="task.done">
                            <button ng-click="openTaskPop($event, 'task' + task.taskID)" class="btn btn-default tasks-panelbutton" >
                              <div class="panel panel-warning">
                                <div class="panel-heading">
                                  <div class="task-panel">
                                    <h4 class="panel-descr">{{task.taskName}}</h4>
                                    <h4 class="panel-date">{{task.dueDate}}</h4>
                                  </div>
                                </div>
                                <div class="panel-body panel-info">
                                  <div class="panel-groupname">{{task.groupName}}</div>
                                  <div class="panel-groupmembers">{{task.members}}</div>
                                </div>
                              </div>
                            </button>
                            <div id="task{{task.taskID}}" class="tasks-pop">
                              <div class="selected-info">
                                <span>Task: {{task.taskName}}</span><br>
                                <span>Due Date: {{task.dueDate}}</span><br>
                                <span>Group: {{task.groupName}}</span><br>
                                <span>Participating Members: {{task.members}}</span><br>
                                <span>Done: {{task.done}}</span><br />
                                <div class="selected-buttons">
                                  <button class="btn btn-default" ng-click="">Edit</button>
                                  <button ng-click="finish(task.taskID)" class="btn btn-default">Completed</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>


</div>