<!--  Displays list of user's bills -->
<div class="container">
    <div class="header-row">
        <div class= "bills-header">
            <h1>My Bills</h1>
        </div>
    </div>

    <div class="bills-addbutton">
        <button type="button" class="btn btn-default">Add Bill</button>
    </div>

    <div class="bill-body>">
        <div class="you-owe-tab">
            <h4>You Owe</h1>
        </div>
        <div class="owe-you-tab">
            <h4>Owe You</h1>
        </div>
        <div class="bill-summary">
            <h2>Bill Summary</h1>
            <div class="you-owe">
                <h3>Bills you owe</h3>
                <div class="bill-scroll">
                    <div class="bill">
                        <h4 class="bill-member">Member 5</h4>
                        <h4 class="bill-amount">$500</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div>
                    <div class="bill">
                        <h4 class="bill-member">Member 5</h4>
                        <h4 class="bill-amount">$500</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div><div class="bill">
                        <h4 class="bill-member">Member 5</h4>
                        <h4 class="bill-amount">$500</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div><div class="bill">
                        <h4 class="bill-member">Member 5</h4>
                        <h4 class="bill-amount">$500</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div><div class="bill">
                        <h4 class="bill-member">Member 5</h4>
                        <h4 class="bill-amount">$500</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div><div class="bill">
                        <h4 class="bill-member">Member 5</h4>
                        <h4 class="bill-amount">$500</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div><div class="bill">
                        <h4 class="bill-member">Member 5</h4>
                        <h4 class="bill-amount">$500</h4>
                        <button type="button" class="view-bill btn btn-default">View Bill</button>
                    </div>
                </div>
                
            </div>
            <div class="owe-you">
                
            </div>
        </div>
    </div>
</div>