<div class="container" ng-controller="groupViewController">
    <div class="header-row">
        <div class= "bills-header">
            <h1>My Groups</h1>
        </div>
    </div>


    <div class="group-body>">
        <div class="groups">
            <h3>Groups</h3>
            <div class="group-scroll">
                <h4>Group 1</h4>
                <h4>Group 2</h4>
                <h4>Group 3</h4>
                <h4>Group 4</h4>
                <h4>Group 1</h4>
                <h4>Group 2</h4>
                <h4>Group 3</h4>
                <h4>Group 4</h4>
                <h4>Group 1</h4>
                <h4>Group 2</h4>
                <h4>Group 3</h4>
                <h4>Group 4</h4>
                <h4>Group 1</h4>
                <h4>Group 2</h4>
                <h4>Group 3</h4>
                <h4>Group 4</h4>
            </div>
        </div>
        <div class="group-display">
            <h3>Group 1</h3>
            <div class="group-members">
                <h4>Member 1</h4>
                <h4>Member 2</h4>
                <h4>Member 3</h4>
            </div>
            <div class="group-description">
                <h4>Description Description Description Description Description Description
                Description Description Description Description Description Description
             Description Description Description Description Description</h4>
            </div>
        </div>
        <button type="button" class="btn btn-default group-add">Add Group</button>
    </div>
</div>
