<!-- 
TeamPlayer - 2014

Displays pages for after successful login: 
    Home, Tasks, Bills, Groups -->

    <!-- ********************** Home part begin *************** -->
    <!-- ********************** Home part begin *************** -->
<div id="content" ng-switch on="activeTab">
  <div ng-controller="homeViewController" ng-switch-when="selected_home">
    <div class="container">
        <div class="col-md-3">
            <div class="home-buttons" style="visibility: hidden">
                <button type="button" class="btn btn-default" id="addTaskBut">Add Task</button>
                <button type="button" class="btn btn-default" id="addBillBut">Add Bill</button>
            </div> 
            <div class="home-tasks">
                <h3>To Do's</h3>
                <div class="home-todos">
                    <div class="panel-danger" >
                      <div class="panel-heading">
                        <div class="task-panel">
                            <h4 class="panel-descr">Clean Your Room</h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-danger" >
                      <div class="panel-heading">
                        <div class="task-panel">
                            <h4 class="panel-descr">Pay Rent</h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-danger" >
                      <div class="panel-heading">
                        <div class="task-panel">
                            <h4 class="panel-descr">Take Out Trash</h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-danger" >
                      <div class="panel-heading">
                        <div class="task-panel">
                            <h4 class="panel-descr">Buy Toilet Paper</h4>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="calendar-display" class="home-calendar">
               <!--  <div ui-calendar ng-model="eventSources"></div> -->
            </div>
        </div>

    </div>
</div>



  <div ng-controller="tasksViewController" ng-switch-when="selected_tasks">
    <!-- <div ng-include src="'tasks.html'"></div> -->

    <!-- ********************** Task part begin *************** -->
    <!-- ********************** Task part begin *************** -->
    <%= render :partial => 'static_pages/tasks' %>
  </div>
    
    <!-- ********************** Task part end *************** -->
    <!-- ********************** Task part end *************** -->


  <div ng-controller="billsViewController" ng-switch-when="selected_bills">
    <!-- <div ng-include src="'bills.html'"></div> -->

    <!-- ********************** Bill part begin *************** -->
    <!-- ********************** Bill part begin *************** -->
    <%= render :partial => 'static_pages/bills' %>
    <!-- ********************** Bill part end *************** -->
    <!-- ********************** Bill part end *************** -->
</div>

  <div ng-controller="groupsViewController" ng-switch-when="selected_groups">
    <!-- <div ng-include src="'groups.html'"></div> -->
    <!-- ********************** Group part begin *************** -->
    <!-- ********************** Group part begin *************** -->
    <%= render :partial => 'static_pages/groups' %>
    
    <!-- ********************** Group part end *************** -->
    <!-- ********************** Group part end *************** -->
  </div>
</div>

