<div id="content" ng-switch on="activeTab">
  <div ng-switch-when="home">
    <h1>Home Page.</h1>
    <a href="#"> random stuff</a>
  </div>

  <div ng-switch-when="tasks">
    <p>TasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasksTasks</p>
  </div>

  <div ng-switch-when="bills">
    <p>bills</p>
    <p>bills</p>
    <p>bills</p>
    <p>bills</p>
    <p>bills</p>
  </div>

  <div ng-switch-when="groups">
    <ul><li>list</li><li>list</li><li>list</li><li>list</li><li>list</li><li>list</li><li>list</li>
    </ul>
  </div>

</div>