<!-- 
TeamPlayer - 2014

Displays pages for after successful login: 
    Home, Tasks, Bills, Groups -->

    <!-- ********************** Home part begin *************** -->
    <!-- ********************** Home part begin *************** -->
<div id="content" ng-switch on="activeTab">
  <div ng-controller="homeViewController" ng-switch-when="selected_home">
    <div class="container">
        <div class="col-md-3">
            <div class="home-buttons" style="visibility: hidden">
                <button type="button" class="btn btn-default" id="addTaskBut">Add Task</button>
                <button type="button" class="btn btn-default" id="addBillBut">Add Bill</button>
            </div>


              <div id="calendarModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                      <h3 id="calendarModal-header"></h3>
                    </div>
                    <div class="modal-body help-body">
                      <div id="calendarModal-content"></div>
                        <div class="calendarModal-buttons">
                          <div class="col-md-8"></div>
                          <div class="col-md-4" id="calendar-modal-buttons">
                            <button class="btn btn-warning">Edit</button>
                            <button class="btn btn-success" data-dismiss="modal">Done</button>
                          </div>
                        </div>
                    </div>
                  </div> 
                </div>
              </div>
          


            <div class="home-tasks">
                <h3>To Do's</h3>
                <div class="home-todos">
                  <div class="home-dateless">
                    <div ng-repeat="todo in todos | orderTasks">
                      <div class="panel-danger home-todo" ng-click="openCalendarModal(todo)">
                        <div class="panel-heading">
                          <div class="task-panel">
                              <h4 class="panel-descr">{{todo.taskName}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3>Today's Tasks</h3>
                  <div class="home-todays">
                    <div ng-repeat="today in todaysTasks | orderTasks">
                      <div class="panel-danger home-todo" ng-click="openCalendarModal(today)">
                        <div class="panel-heading">
                          <div class="task-panel">
                              <h4 class="panel-descr">{{today.taskName}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
          <div class="home-calendar" style="position:relative; right: 100px">
            <div id="calendar-display"></div>
          </div>
        </div>
    </div>
</div>



  <div ng-controller="tasksViewController" ng-switch-when="selected_tasks">
    <!-- <div ng-include src="'tasks.html'"></div> -->

    <!-- ********************** Task part begin *************** -->
    <!-- ********************** Task part begin *************** -->
    <%= render :partial => 'static_pages/tasks' %>
  </div>
    
    <!-- ********************** Task part end *************** -->
    <!-- ********************** Task part end *************** -->


  <div ng-controller="billsViewController" ng-switch-when="selected_bills">
    <!-- <div ng-include src="'bills.html'"></div> -->

    <!-- ********************** Bill part begin *************** -->
    <!-- ********************** Bill part begin *************** -->
    <%= render :partial => 'static_pages/bills' %>
    <!-- ********************** Bill part end *************** -->
    <!-- ********************** Bill part end *************** -->
</div>

  <div ng-controller="groupsViewController" ng-switch-when="selected_groups">
    <!-- <div ng-include src="'groups.html'"></div> -->
    <!-- ********************** Group part begin *************** -->
    <!-- ********************** Group part begin *************** -->
    <%= render :partial => 'static_pages/groups' %>
    
    <!-- ********************** Group part end *************** -->
    <!-- ********************** Group part end *************** -->
  </div>
</div>

