<!-- 
TeamPlayer - 2014

Displays pages for after successful login: 
    Home, Tasks, Bills, Groups -->

    <!-- ********************** Home part begin *************** -->
    <!-- ********************** Home part begin *************** -->
<div id="content" ng-switch on="activeTab">
  <div ng-controller="homeViewController" ng-switch-when="selected_home">
    <div class="container">
        <div class="col-md-3">
            <div class="home-buttons" style="visibility: hidden">
                <button type="button" class="btn btn-default" id="addTaskBut">Add Task</button>
                <button type="button" class="btn btn-default" id="addBillBut">Add Bill</button>
            </div>

            <!-- <a class="btn btn-default" id="openBtn" ng-click="openModal($event)">Temp Manual Button</a>
              <div id="manualModal" class="modal fade manual-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Help Guide</h3>
                    </div>
                    <div class="modal-body">



                    </div>
                  </div>
                </div>
              </div> -->

           <!--  <a class="btn btn-default" id="openBtn" ng-click="openModal($event)">Temp Manual Button</a> -->
              <div id="manualModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Help Guide</h3>
                    </div>
                  <div class="modal-body help-body">
                    <div class="col-md-4">
                      <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#homeHelp">Home</a></li>
                        <li><a href="#tasksHelp">Tasks</a></li>
                        <li><a href="#billsHelp">Bills</a></li>
                        <li><a href="#groupHelp">Groups</a></li>
                      </ul>
                    </div>
                    <div class="col-md-8">
                      <div class="tab-pane active" id="homeHelp">
                        <h3>Stuff</h3>
                      </div>
                      <div class="tab-pane" id="tasksHelp">
                        <h3>Stuff</h3>
                      </div>
                      <div class="tab-pane" id="billsHelp">
                        <h3>Stuff</h3>
                      </div>
                      <div class="tab-pane" id="groupHelp">
                        <h3>Stuff</h3>
                      </div>
                    </div>
                  </div>

                  </div>
                  
                </div>
              </div>
          


            <div class="home-tasks">
                <h3>To Do's</h3>
                <div class="home-todos" ng-repeat="todo in todos">
                    <div class="panel-danger" >
                      <div class="panel-heading">
                        <div class="task-panel">
                            <h4 class="panel-descr">{{todo.taskName}}</h4>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="calendar-display" class="home-calendar">
               <!--  <div ui-calendar ng-model="eventSources"></div> -->
            </div>
        </div>
    </div>
</div>



  <div ng-controller="tasksViewController" ng-switch-when="selected_tasks">
    <!-- <div ng-include src="'tasks.html'"></div> -->

    <!-- ********************** Task part begin *************** -->
    <!-- ********************** Task part begin *************** -->
    <%= render :partial => 'static_pages/tasks' %>
  </div>
    
    <!-- ********************** Task part end *************** -->
    <!-- ********************** Task part end *************** -->


  <div ng-controller="billsViewController" ng-switch-when="selected_bills">
    <!-- <div ng-include src="'bills.html'"></div> -->

    <!-- ********************** Bill part begin *************** -->
    <!-- ********************** Bill part begin *************** -->
    <%= render :partial => 'static_pages/bills' %>
    <!-- ********************** Bill part end *************** -->
    <!-- ********************** Bill part end *************** -->
</div>

  <div ng-controller="groupsViewController" ng-switch-when="selected_groups">
    <!-- <div ng-include src="'groups.html'"></div> -->
    <!-- ********************** Group part begin *************** -->
    <!-- ********************** Group part begin *************** -->
    <%= render :partial => 'static_pages/groups' %>
    
    <!-- ********************** Group part end *************** -->
    <!-- ********************** Group part end *************** -->
  </div>
</div>

