<!-- 

TeamPlayer - 2014

This is the home page for TeamPlayer when a user is not
logged in. It allows the user to login or create a new account,
as well as displays basic information about our app.

-->

<div class="login-body" ng-controller="loginViewController">
    <div class ="login-panel col-md-9" ng-hide="activeTab!='selected_home'">
      <div class="col-md-6 login-left">
        <br><br><%= image_tag "login.png" %><br><br>
        Organize the mess of sharing duties and bills between groups of people<br> in your life with our calendar-centered interface!
          <br/>
          <br/>
          <h3>Here are some great features to TeamPlayer:</h3>
          <ul>
            <li><b>Group Management</b></li>
              <ul>Create a TeamPlayer group for every group in your life, and all tasks/bills will be centered around these groups.</ul>
            <li><b>Cycling Task Creation</b></li>
              <ul>Take turns and share responsibilities by not only setting deadlines, but also <i>cycling</i> them.</ul>
            <li><b>Bill Memory and Bill Splitting</b></li>
              <ul>See quick summaries of your expenses - what people owe you and what you owe to others.</ul>
          </ul>
          <br/>
          <h4>Developers can visit these links for more information:</h4>
          <div class="help-links">
              <a href="http://keithyeung.com/teamplayer/">
                  Developer's Website
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://github.com/panjiw/Team-Player">
                  Source Code on GitHub
              </a>
          </div>
      </div>
      <div class="col-md-4 login-right">
        <div class="row login-sign-up">
          <h2>Log In</h2>
          <form>
            <input ng-model="login_uname" type="text" class="form-control input-md" placeholder="Username">
            <input ng-model="login_psswd" type="password" class="form-control input-md" placeholder="Password">
            <button ng-click="login($event)" class="btn btn-success">Log In</button>
          </form>
        </div>
        <div class="row">
          <h2>Register</h2>
          <form>
            <input ng-model="create_fname" type="text" class="form-control input-md" placeholder="First Name">
            <input ng-model="create_lname" type="text" class="form-control input-md" placeholder="Last Name">
            <input ng-model="create_uname" type="text" class="form-control input-md" placeholder="Username">
            <input ng-model="create_email" type="text" class="form-control input-md" placeholder="Email@email.com">
            <input ng-model="create_psswd_one" type="password" class="form-control input-md" placeholder="Password">
            <input ng-model="create_psswd_two" type="password" class="form-control input-md" placeholder="Confirm Password">
            <button ng-click="createAccount($event)" class="btn btn-success">Register</button>
          </form>
        </div>
      </div>
    </div>
</div>
