<!-- 

TeamPlayer - 2014

This is the home page for TeamPlayer when a user is not
logged in. It allows the user to login or create a new account,
as well as displays basic information about our app.

-->

<div class="login-body" ng-controller="loginViewController">
    <div class ="login-panel" ng-hide="activeTab!='selected_home'">
      <div class="col-md-6 login-left">
        <h1>Why you need Team Player</h1>
        <ul>
          <li>Help organize team tasks</li>
          <li>Keep track of money you owe</li>
          <li>Manage multiple groups at once</li>
          <li>Make sure you're never late again</li>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <h4>Developers can visit these links for more information:</h4>
          <div class="help-links">
              <a href="https://docs.google.com/document/d/1SKEDKel_2_kpfQq91sM63R6gbVeIXn-JSc2hE1YmsD8/edit?usp=sharing">
                  Developer Documentation
              </a>
              <br/>
              <a href="https://docs.google.com/document/d/1giS7XVnym-3Iijb32KPmmu1oExoM7tZoG_WIuKgUvMk/edit?usp=sharing">
                  User Documentation
              </a>
              <br/>
              <a href="https://github.com/panjiw/Team-Player">
                  Source Code
              </a>
          </div>
        </ul>
      </div>
      <div class="col-md-4 login-right">
        <div class="row login-sign-up">
          <h2>Log In</h2>
          <form>
            <input ng-model="login_uname" type="text" class="form-control input-md" placeholder="Username">
            <input ng-model="login_psswd" type="password" class="form-control input-md" placeholder="Password">
            <button ng-click="login($event)" class="btn btn-success">Log In</button>
          </form>
        </div>
        <div class="row">
          <h2>Register</h2>
          <form>
            <input ng-model="create_fname" type="text" class="form-control input-md" placeholder="First Name">
            <input ng-model="create_lname" type="text" class="form-control input-md" placeholder="Last Name">
            <input ng-model="create_uname" type="text" class="form-control input-md" placeholder="Username">
            <input ng-model="create_email" type="text" class="form-control input-md" placeholder="Email@email.com">
            <input ng-model="create_psswd_one" type="password" class="form-control input-md" placeholder="Password">
            <input ng-model="create_psswd_two" type="password" class="form-control input-md" placeholder="Confirm Password">
            <button ng-click="createAccount($event)" class="btn btn-success">Register</button>
          </form>
        </div>
      </div>
    </div>
</div>
