
.bills-addbutton{
  float: right;
  padding-bottom: 10px;
}

.bill-body{
	padding: 10px;
	margin: 10px;
}

.bill-summary {
  /*width: 200px;
  height: 100px;
  padding: 5px;
  margin: 5px;
  background-color: #f5f5f5;*/
  border: 2px solid gray;
  height: 400px;
  clear: left;
  padding-left: 30px;
  /*border-radius: 4px;*/
}

.owe-you-tab,
.you-owe-tab {
  float: left;
  margin-left: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid gray;
  border-bottom: transparent;
  border-radius: 5px;
}

.owe-you-tab:hover,
.you-owe-tab:hover {
  color: green;
  cursor: pointer;
}

div.bill-body.bill_selected_you_owe div.you-owe-tab,
div.bill-body.bill_selected_owe_you div.owe-you-tab{
  background: #66FF99;
}

.owe-you,
.you-owe {
  padding: 10px
}

.bill-scroll {
  width: 700px;
  height: 400px;
  line-height: 3em;
  overflow-y: auto;
}

.bill {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #bce8f1;
  margin-left: 30px;
  border-radius: 5px;
  width: 600px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
}

.bill-member {
  float: left;
  margin: 0px;
  padding: 0px;
}

.bill-amount {
  color: green;
  float: left;
  margin: 0px;
  padding: 0px;
  margin-left: 30%;
}

.view-bill {
  float: right;
  margin: 0px;
  padding: 0px;
}

.btn-you-owe {
  float: right;
  clear: right;
  height: 25px;
  width: 90px;
}

.bill-members {
  text-align: center;
  padding-top: 15px;
}
