
.bills-addbutton, .bills-editbutton{
  float: right;
  padding-top: 30px;
}

.bill-body{
	padding: 10px;
	margin: 10px;
}

.bill-summary {
  /*width: 200px;
  height: 100px;
  padding: 5px;
  margin: 5px;
  background-color: #f5f5f5;*/
  border: 2px solid gray;
  height: 400px;
  clear: left;
  padding-left: 30px;
  /*border-radius: 4px;*/
}

.owe-you-tab,
.you-owe-tab {
  float: left;
  margin-left: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid gray;
  border-bottom: transparent;
  border-radius: 5px;
}

.owe-you-tab:hover,
.you-owe-tab:hover {
  color: green;
  cursor: pointer;
}

div.bill-body.bill_selected_you_owe div.you-owe-tab,
div.bill-body.bill_selected_owe_you div.owe-you-tab{
  background: #66FF99;
}

.owe-you,
.you-owe {
  padding: 10px
}

.bill-scroll {
  width: 700px;
  height: 400px;
  line-height: 3em;
  overflow-y: auto;
}

.bill {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #bce8f1;
  margin-left: 30px;
  border-radius: 5px;
  width: 600px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid white;
}

.bill:hover {
  cursor: pointer;
  background-color: #c2e2b6;
}

.bill-all {
  width: 400px;
}

.bill-pop {
  position: fixed;
/*  overflow-height: auto;*/
  width: 370px;
  right: 150px;
  top: 250px;
  bottom: 50px;
  padding: 10px;
  background-color: #F0F0F0;
  border: 1px solid gray;
  border-radius: 5px;
  display: none;
  overflow-height: hidden;
}

.bill-pop-total {
  float: right;
  margin-right: 10px;
}

.bill-pop-total-comb {
  float: right;
  margin-right: 10px;
}

.bills-checkbox {
  float:left;
  margin-right:5px;
}

.bills-editBtn {
  float:left;
}

.bill-member {
  float: left;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  width: 170px;
  white-space:nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.bill-member-long {
  width: 350px;
}

.bill-amount {
  color: green;
  float: right;
  margin: 0px;
  padding: 0px;
}

.view-bill {
  float: right;
  margin: 0px;
  padding: 0px;
}

.btn-you-owe {
  float: right;
  clear: right;
  width: 90px;
}

.bill-members {
  text-align: center;
  padding-top: 15px;
}

.bills-selected {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #bce8f1;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px;
}

.bills-selected-debt {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #bce8f1;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 5px;
}

.bills-selected-owe {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 5px;
}

.bills-to-pay {
  height: 280px;
  overflow-y: auto;
}

.bills-to-pay-you {
  height: 300px;
  overflow-y: auto;
}

.bills-selected .bills-selected-owe .bills-selected-debt input {
  float: left;
  clear: both;
  margin: 0px;
  padding: 0px;
}

.bills-selected .bills-selected-owe .bills-selected-debt  .bill-amount {
  float: right;
  margin-left: 0px;
}

.bill-check {
  margin: 0px;
  padding: 0px;
}

.bill-all .popover {
  width: 150px;
}

.bill-all .popover-content p{
  line-height: 15px;
}

.bills-panelbutton {
  padding-top:0px;
  padding-bottom:0px;
  padding-left:0px;
  padding-right:0px;
  height:95px;
  width:650px;
  overflow:hidden;
  border-color: white;
  text-align: center;
  margin-bottom:25px;
}

.bill-panel {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right:5px;
  overflow: hidden;
  color: inherit;
}

.panel-owesYou {
  float: left;
  margin-left: 200px;
  padding: 0px;
}

.panel-youOwe {
  float: right;
  margin-right: 10px;
  padding: 0px;
}

.ng-invalid {
  background: red;
}

.bill-buttons {
  padding:5px;
}