@import "bootstrap";

.options {
  clear: left;
  float: left;
  padding-left: 0px;
  margin-bottom: 14px;
}

.options ul {
  list-style-type: none;
}

.options li {
  margin-right: 10px;
  width: 50px;
  text-align: center;
}

/* color of links on top left (about contact help) */
.navbar-inverse .navbar-nav > li > a {
    color: #DDDDDD;
}

/* Team-Player Text top left */
.navbar-inverse .navbar-brand {
    color: #DDDDDD;
}
