.group-body h3 {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.groups,
.group-display {
  text-align: center;
}

.groups {
  height: 400px;
  width: 300px;
}

.group-display {
  float:right;
  height: 400px;
  width: 700px;
}

.groups h3,
.group-display h3 {
  border-bottom: 1px solid #ddd;
}

.group-display h3 {
  margin-bottom: 0px;
}

.group-listtitle {
  text-align:center;
}

.group-add {
  float: right;
}

.group-scroll {
  padding: 10px;
  width: 250px;
  height: 300px;
  line-height: 3em;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
}

.group-members {
  float: left;
  border-right: 1px solid #ddd;
  height: 350px;
  width: 250px;
  padding: 20px;
}

.group-description {
  float:right;
  width: 400px;
  padding: 30px;
}

.group-description button {
  position: absolute;
  right: 18px;
  bottom: 3px;
}

.group-add-body {
  overflow: hidden;
}

textarea {
  resize: none;
}

.list-group-item {
  margin-bottom: 1px;
}

.group-titlerow {
  text-align:center;
}

.group-leavebutton {
  float:right;
}

.list-group .grp_active, .group-members .mem_active{
  background: #5bc0de;
  color:white;  
}

.list-group .grp_active:hover, .group-members .mem_active:hover{
  background: #5bc0de;
  color:white;  
}

.group-members-scroll {
  height: 300px;
  overflow-y: auto;
}