/* make sure all a tag has a pointer cursor, even without href */
a {
  cursor: pointer;
}

.logout {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.login-notSignedIn {
  padding-top:10px;
  padding-right:10px;
  float:right;
  color:gray;
}

.login-notSignedIn:hover {
  color: white;
}

.header-welcome {
  float: right;
  color: white;
}

.tabs {
  float: right;
}

.tab {
  margin-right: 10px;
  width: 100px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: 2px solid gray;
  border-bottom: transparent;
}

.options {
  clear: left;
  float: left;
  padding-left: 0px;
  margin-bottom: 0px;
}

.options ul {
  list-style-type: none;
}

.options li {
  margin-right: 10px;
  width: 50px;
  text-align: center;
}

.options li a {
  height: 1px;
}

div.tabs.selected_home button.selected_home,
div.tabs.selected_tasks button.selected_tasks,
div.tabs.selected_bills button.selected_bills,
div.tabs.selected_groups button.selected_groups{
  background: white;
  color:black;
}

#content{
  margin-top:100px;
  padding: 10px;
}

.home-buttons button {
  float: left;
  clear: left;
  margin-bottom: 5px;
  margin-left: 60px;
  width: 100px;
}

.home-tasks {
  border: 1px solid #ddd;
  float: left;
  clear: left;
  width: 220px;
  height: 400px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  overflow-height:hidden;
}

.home-tasks ul {
  text-align: left;
  list-style-type: none;
}

.home-calendar {
  margin-left: 200px;
  margin-top: 30px;
  width: 700px;
/*  height: 300px;*/
}

.help-body {
  overflow:hidden;
}

.fc-event:hover {
  cursor: pointer;
}

.home-todo:hover {
  cursor: pointer;
}

.home-dateless {
/*  height: 125px;*/
  overflow-height: hidden;
}

.home-todays {
/*  height: 150px;
  overflow-y: auto;*/
}

.edit-btn {
  background-color: #f7ecb5;
  border-width: 2px;
  border-color: #f5e79e;
}

.legend {
  text-align: center;
}

.btn-myTask {
  background-color: #ffef00;
  border-color: #ffef00;
  color: black;
}

.btn-yourTask {
  background-color: #ffffb3;
  border-color: #ffffb3;
  color: black;
}

.btn-myBill {
  background-color: #7ab847;
  border-color: #7ab847;
  color: black;
}

.btn-yourBill {
  background-color: #d6e9c6;
  border-color: #d6e9c6;
  color: black;
}

.btn-myOverdue {
  background-color: #ff8282;
  border-color: #ff8282;
  color: black;
}

.btn-yourOverdue {
  background-color: #ffcfcf;
  border-color: #ffcfcf;
  color: black;
}

.btn-completed {
  background-color: white;
  border-color: black;
  color: black;
}