.login-body {
  padding-top: 100px;
}

.login-error {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
}

.login-panel {
  margin-left: 5%;
  padding-bottom: 10px;
  height: 90%;
  width: 90%;
  border: 5px solid black;
  border-radius: 10px;
}

.login-left {
  height: 100%;
}

.login-right {
  width: 400px;
  padding-left: 60px;
  text-align: center;
}

.login-sign-up {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.col-md-6,
.col-md-4 {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  margin-bottom: 5px;
}

.options {
  clear: left;
  float: left;
  padding-left: 0px;
  margin-bottom: 14px;
}

.options ul {
  list-style-type: none;
}

.options li {
  margin-right: 10px;
  width: 50px;
  text-align: center;
}