.login-panel {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 510px;
  width: 1000px;
  border: 5px solid black;
  border-radius: 10px;
}

.login-left {
  height: 100%;
  border-right: 2px solid black;
}

.login-right {
  width: 400px;
  padding-left: 60px;
  text-align: center;
}

.login-sign-up {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.col-md-6,
.col-md-4 {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  margin-bottom: 5px;
}