
.tasks-addbutton, .tasks-editbutton{
  float: right;
  padding-top: 30px;
}

.task-panel {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right:5px;
  overflow: hidden;
  color: inherit;
}

.panel-descr {
  float:left;
  margin: 0px;
  padding: 0px;
}

.panel-date {
  float: right;
  margin: 0px;
  padding: 0px;
}

.panel-info {
  height: 50px;
  padding:5px;
  overflow: hidden;
  font-style: italic;
}

.panel-groupname {
  float: left;
  margin-left: 10px;
  padding: 0px;
}

.panel-groupmembers {
  float: right;
  margin-right: 10px;
  padding: 0px;
}

.tasks-body{
  padding:5px;
  margin-left: 5px;
}

.scroll-section {
  position: center;
}

.tasks-add-body, .tasks-edit-body {
  overflow: hidden;
}

textarea {
  resize: none;
}

.tasks-selectMembers {
  text-align:center;
}

.tasks-duedate {
  padding:10px;
  position:center;
  text-align:center;
}

.tasks-calendar {
  margin:50px;
  text-align:center;
  border-color: black;
  border-width:5px;
  height:200px;
  width: 100px;
}

.tasks-panelbutton {
  padding:0px;
  height:95px;
  width:650px;
  overflow:hidden;
  border-color: white;
  text-align: center;
  margin-bottom:15px;
}

.tasks-panelbutton-comp {
  padding:0px;
  height:95px;
  width:300px;
  overflow:hidden;
  border-color: white;
  text-align: center;
  margin-bottom:15px;
}

.tasks-pop {
  position: fixed;
  width: 400px;
/*  height: 330px;*/
  overflow-height: hidden;
  right: 80px;
  top: 250px;
  padding: 10px;
  background-color: #fcf8e3;
  border: 5px solid #faebcc;
  border-radius: 5px;
  display: none;
}

.tasks-pop-gray {
  position: absolute;
  width: 400px;
  height: 330px;
  right: 80px;
  top: 250px;
  padding: 10px;
  background-color: #F0F0F0;
  border: 5px solid #ddd;
  border-radius: 5px;
  display: none;
}

.selected-buttons {
  margin-left: 215px;
}

.panel-gray {
  border-color:#ddd;
}

.panel-gray-header {
  color: #505050;
  background-color: #F0F0F0;
  border-color: #ddd;
}

.helpImage {
  padding-left:30px;
}

.instruction-row{
  width: 570px;
  height: 375px;
}

.task_modal_members ul {
  list-style-type: none;
}

.draggable:hover {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), pointer;
}

.draggable.ui-sortable-helper {
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move;
}