
.tasks-header {

}

.tasks-addbutton{
  padding-left: 700px;
  padding-bottom: 10px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right:5px;

  color: inherit;
}

.tasks-body{
    padding:5px;
    margin-left: 5px;
}


.scroll-section {
  position: center;
}