
.tasks-addbutton{
  padding-left: 1050px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.task-panel {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right:5px;
  overflow: hidden;
  color: inherit;
}

.panel-descr {
  float:left;
  margin: 0px;
  padding: 0px;
}

.panel-date {
  float: right;
  margin: 0px;
  padding: 0px;
}

.panel-info {
  height: 50px;
  padding:5px;
  overflow: hidden;
  font-style: italic;
}

.panel-groupname {
  float: left;
  margin-left: 10px;
  padding: 0px;
}

.panel-groupmembers {
  float: right;
  margin-right: 10px;
  padding: 0px;
}

.tasks-body{
  padding:5px;
  margin-left: 5px;
}

.scroll-section {
  position: center;
}

.tasks-add-body {
  overflow: hidden;
}

textarea {
  resize: none;
}

.tasks-selectMembers {
  text-align:center;
}

.tasks-duedate {
  padding:10px;
  position:center;
  text-align:center;
}

.tasks-calendar {
  margin:50px;
  text-align:center;
  border-color: black;
  border-width:5px;
  height:200px;
  width: 100px;
}

.tasks-panelbutton {
  padding:0px;
  height:95px;
  width:650px;
  overflow:hidden;
  border-color: white;
  text-align: center;
  margin-bottom:15px;
}

.tasks-pop {
  position: absolute;
  width: 400px;
  height: 330px;
  right: 80px;
  top: 250px;
  padding: 10px;
  background-color: #fcf8e3;
  border: 5px solid #faebcc;
  border-radius: 5px;
  display: none;
}


.selected-buttons {
  position: absolute;
  margin-left: 215px;
  padding-top: 50px;
}