<!-- 
TeamPlayer - 2014

Displays header after successful login  -->

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" ng-click="activeTab='selected_home'">Team Player</a> <!--Add link to home-->
    </div>
    <% if signed_in? %>
        <a class="logout" href="/" ng-click="logout($event)">Logout</a>
    <% end %>
    <div class="collapse navbar-collapse options">
      <ul class="navbar-nav">
<!--         <li><a href="/" ng-click="activeTab='selected_home'">Home</a></li> --> <!-- Add link to home--> 
        <li><a>About</a></li> <!--Add link to about--> 
        <li><a>Contact</a></li> <!--Add link to contact-->
        <li><a href="/help">Help</a></li>
      </ul>
    </div><!--/.nav-collapse -->
    <% if signed_in? %>
      <div class="tabs {{activeTab}}">
        <button class="btn tab selected_home" ng-click="activeTab='selected_home'">Home</button>
        <button class="btn tab selected_tasks" ng-click="activeTab='selected_tasks'">Tasks</button>
        <button class="btn tab selected_bills" ng-click="activeTab='selected_bills'">Bills</button>
        <button class="btn tab selected_groups" ng-click="activeTab='selected_groups'">Groups</button>
      </div>
      
    <% end %>
  </div>
</div>