<!-- 
TeamPlayer - 2014

Displays header after successful login  -->

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="activeTab='selected_home'; closePop()">TeamPlayer</a> <!--Add link to home-->
    </div>
    <% if !signed_in? %>
        <a class="login-notSignedIn" ng-click="activeTab='selected_home'; closePop()">Login</a>
    <% end %>


    <% if signed_in? %>
        <div class="header-welcome">Welcome, {{currentUser.uname}}!
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="logout" href="/" ng-click="logout($event)">Logout</a>
    </div>
    <% end %>
    <div class="collapse navbar-collapse options">
      <ul class="navbar-nav">
        <li><a ng-click="activeTab='selected_about'; closePop()">About</a></li> <!--Add link to about--> 
        <li><a ng-click="activeTab='selected_contact'; closePop()">Contact</a></li> <!--Add link to contact-->
        <li><a ng-click="activeTab='selected_help'; closePop()">Help</a></li>
        <% if signed_in? %>
          <li><a ng-click="activeTab='selected_settings'; closePop()">Settings</a></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
    <% if signed_in? %>
      <div class="tabs {{activeTab}}">
        <button class="btn tab selected_home" ng-click="activeTab='selected_home'">Home</button>
        <button class="btn tab selected_tasks" ng-click="activeTab='selected_tasks'">Tasks</button>
        <button class="btn tab selected_bills" ng-click="activeTab='selected_bills'">Bills</button>
        <button class="btn tab selected_groups" ng-click="activeTab='selected_groups'">Groups</button>
      </div>
      
      <!-- TEMPORARY SCRIPT CODE. COULDN'T FIND JS FILE FOR HEADER -->
      <script>
          $('.btn').on('click', function (e) {
              $('.btn').popover('hide');
          });
      </script>
      
    <% end %>
  </div>
</div>

<div ng-show="activeTab=='selected_help'">
  <%= render "static_pages/help" %>
</div>
<div ng-show="activeTab=='selected_contact'">
  <%= render "static_pages/contact" %>
</div>
<div ng-show="activeTab=='selected_about'">
  <%= render "static_pages/about" %>
</div>
<div ng-show="activeTab=='selected_settings'">
  <%= render "static_pages/settings" %>
</div>